<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">IT Eventhub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Upcoming Events for all</a>
      </li>
      <li class="nav-item">  
        <a class="nav-link" style="cursor:pointer" routerLink="/user/special-events" routerLinkActive="active">Special Events</a>
      </li> 
    </ul>
    
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer" *ngIf="!_authService.userLoggedIn() && !_authService.adminLoggedIn()" routerLink="/user" routerLinkActive="active">User Login</a>
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" *ngIf="!_authService.adminLoggedIn() && !_authService.userLoggedIn()"  routerLink='/admin' routerLinkActive="active">Admin Login</a>
        </li>
      </ul>
    </div>
    
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer" *ngIf="_authService.adminLoggedIn()" routerLink="/admin/admin-special" routerLinkActive="active">Special Event</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer" *ngIf="_authService.userLoggedIn()" (click)="_authService.userLogout()">Logout</a>
          <a class="nav-link" style="cursor:pointer" *ngIf="_authService.adminLoggedIn()" (click)="_authService.adminLogout()">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>    
<div class="container">
  <router-outlet></router-outlet>            
</div>

